html,
body {
  height: 100%;
  margin: 0;
}

#main {
  width: 100%;
}

#header {
  top:0;
  width: 100%;
  height: 56px;
  position: fixed;
  background: white;
}

#left {
  width: 72px;
  height: 100px;
  float: left;
  position: fixed;
  background-color: white;
  z-index: -1;
}

  #right{
  width: 1192px;
  height: 2000px;
  background-color: #FAFAFB;
  float: right;
  top:56px;
  left:72px;
  position:absolute;
  z-index: -2;
} 

#right h3{
  position: absolute;
  left:10px;
  margin-top: 30px;
}

#right h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color:gray;
  position: absolute;
  right:10px;
  margin-top: 30px;
}

.video{
  width: 1161px;
  height: 2000px;
  /* background: white; */
  position: absolute;
  margin: 15px;
  margin-top: 50px;
  
}

.video-content{
  width: 274px;
  height: 270px;
  /* background-color: #FAFAFB; */
  display: inline-block;
  position: relative;
  cursor: pointer;
}


.video-content img{
  position: absolute;
}

.channelicon{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  top:62%
}

.videoinfo{
  width: 202px;
  height: 110px;
  position: absolute;
  bottom: 0;
  right: 18px;
  /* background: chocolate; */
  
}

.videoinfo h5{
  font-size: 14px;
  margin-top: 8px;
  color: black;
  text-decoration: none;
  
}

.videoinfo p{
  font-size: 13px;
  font-weight: 400;
  color: gray;
  font-family: 'Roboto', sans-serif;
  margin-top: -22px;
  
}

.video-content span{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 36px;
  color: white;
  text-align: center;
  border-radius: 10%;
  background: black;
  position: absolute;
  right: 5px;
  top:49%;
}

.video-content:nth-child(2){
  margin-left: 16px;
}
.video-content:nth-child(3){
  margin-left: 16px;
}
.video-content:nth-child(4){
  margin-left: 16px;
}

#video-section02{
  border-bottom: 4px solid rgb(228, 228, 228);
  margin-top: 38px;
}

#video-section03{
  border-bottom: 4px solid rgb(228, 228, 228);
  margin-top:8%;
}

.video-section04{
  margin-top:40px;
}

.video-section05{
  margin-top:20px;
}


#container {
  height: 56px;
  margin: 0 16px;
  position: relative;
  
}

#start {
  width: 185px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

#center {
  width: 672px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: wheat; */
}

#end {
  width: 180px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}


#openicon  {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  left: 6%;
  /* transform: translate(-450%, -50%); */
  font-size: 20px;
  color: rgb(78, 76, 76);
  
  
}

.logo {
  width:129px;
  height:24%;
  position: absolute;
  top: 15%;
  right: 0px;
  cursor: pointer;
  
}

.search {
  position: relative;
}

.searchbox {
  position: absolute;
  left: 7%;
  width: 505px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid rgb(228, 228, 228);
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  font-family: '微軟正黑體';
  font-weight: 300;
}

.searchbox:hover {
  background:rgb(248, 248, 248);
}

.searchbtn {
  position: absolute;
  left: 83%;
  width: 48px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid rgb(228, 228, 228);
  background-color: #f9f9f9;
  outline: none;
  cursor: pointer;
  background-image: url(./images/searchicon.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center center;
}

#voicesearch {
  position: absolute;
  right: 20px;
  top:2%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#endcontainer {
  position: relative;
}

#appli {
  width: 40px;
  height: 40px;
  background-image: url(./images/appliicon.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}


#setup {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 48px;
  background-image: url(./images/setupicon.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  
}

#login {
  width: 84px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 96px;
  background-image: url(./images/loginicon.png);
  background-size: cover;
  cursor: pointer;
}


#home {
  position: absolute;
  width: 72px;
  height: 74px;
  top:56px;
  color: red;
  text-align: center;
  cursor: pointer;
}

#home:hover {
  background: #F2F2F2;
}

#leftcontainer span{
  transform: translateY(70%);
}

#home p{
  color: rgb(202, 5, 5);
  font-size: 8px;
  transform: scale(0.85) translateY(50%);
}

#explore{
  position: absolute;
  width: 72px;
  height: 74px;
  top:130px;
  color: rgb(77, 77, 77);
  text-align: center;
  z-index: -1;
  cursor: pointer;
}

#explore:hover{
  background: #F2F2F2;
}

#explore p{
  color:rgb(77, 77, 77);
  font-size: 8px;
  transform: scale(0.85) translateY(50%);
}


#subscribe{
  position: absolute;
  width: 72px;
  height: 74px;
  top:204px;
  color: rgb(77, 77, 77);
  text-align: center;
  z-index: -1;
  cursor: pointer;
}

#subscribe:hover{
  background: #F2F2F2;
}

#subscribe p{
  color:rgb(77, 77, 77);
  font-size: 8px;
  transform: scale(0.85) translateY(50%);
}

#library{
  position: absolute;
  width: 72px;
  height: 74px;
  top:278px;
  color: rgb(77, 77, 77);
  text-align: center;
  z-index: -1;
  cursor: pointer;
}

#library:hover{
  background: #F2F2F2;
}

#library p{
  color:rgb(77, 77, 77);
  font-size: 8px;
  transform: scale(0.85) translateY(50%);
}

#history{
  position: absolute;
  width: 72px;
  height: 74px;
  top:352px;
  color: rgb(77, 77, 77);
  text-align: center;
  z-index: -1;
  cursor: pointer;
}

#history:hover{
  background: #F2F2F2;
}


#history p{
  color:rgb(77, 77, 77);
  font-size: 8px;
  transform: scale(0.85) translateY(50%);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.sidebar{
  width: 240px;
  height: 977px;
  background: white;
  position: relative;
  /* display: none; */
  transform: translateX(-100%);
  z-index: 1111;
  transition: .2s ease;
}

#contentcontainer{
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sidemenucontainer{
  width: 240px;
  height: 737px;
  background: white;
  z-index: 5000;
}


#menuheader{
  width: 240px;
  height: 56px;
  position: fixed; 
  /* transform: translateX(0%); */
  border-bottom: 1px solid lightgray ;
  background: white;
  z-index: 999;
}

.logo2 {
  width:129px;
  height:24%;
  position: absolute;
  top: 30%;
  right: 42px;
  cursor: pointer;
  
}

#closeicon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(10%, 10%);
  font-size: 20px;
  color: rgb(78, 76, 76);
}


#contentcontainer{
  width: 240px;
  height: 650px;
  position: absolute;
  top:5%;
}

#section1{
  width: 240px;
  height: 152px;
  position: absolute;
  border-bottom: 1px solid lightgray ;
  
}

#home2{
  width: 240px;
  height: 40px;
  position: absolute;
  top:20px;
  cursor: pointer;
}

#home2:hover{
  background: #F2F2F2;
}

#home2 span{
  color: red;
  position: absolute;
  left:10%;
  top:20%;
}

#section1 p{
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top:-10%;
  left:28%;
}

#explore2{
  width: 240px;
  height: 40px;
  position: absolute;
  top:60px;
  cursor: pointer;
}

#explore2:hover{
   background: #F2F2F2;
}

#explore2 span{
  color: rgb(77, 77, 77);
  position: absolute;
  left:10%;
  top:20%;
}

#subscribe2{
  width: 240px;
  height: 40px;
  position: absolute;
  top:100px;
  cursor: pointer;
}

#subscribe2:hover{
  background: #F2F2F2;
}

#subscribe2 span{
  color: rgb(77, 77, 77);
  font-size: 20px;
  position: absolute;
  left:10%;
  top:25%;
}

#section2{
  width: 240px;
  height: 97px;
  position: absolute;
  /* background: gray; */
  border-bottom: 1px solid lightgray ;
  top:152px
}

#library2{
  width: 240px;
  height: 40px;
  position: absolute;
  top:10px;
  cursor: pointer;
}

#library2:hover{
  background: #F2F2F2;
}

#section2 span{
  color: rgb(77, 77, 77);
  font-size: 24px;
  position: absolute;
  left:9%;
  top:20%;
}
#section2 p{
  font-size: 14px;
  position: absolute;
  top:-10%;
  left:28%;
}

#history2{
  width: 240px;
  height: 40px;
  position: absolute;
  top:50px;
  cursor: pointer;
}

#history2:hover{
  background: #F2F2F2;
}

#section3{
  width: 240px;
  height: 123px;
  position: absolute;
  /* background: gray;  */
  border-bottom: 1px solid lightgray ;
  top:249px
}

#section3 span{
  width: 176px;
  height: 42px;
  color:rgb(77, 77, 77);
  font-size: 14px;
  position: absolute;
  top:15%;
  left:12%;
}

#login2{
  width: 92px;
  height: 36px;
  background-image: url(./images/loginicon2.png);
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top:58%;
  left:12%;
}

#section4{
  width: 240px;
  height: 293px;
  position: absolute;
  border-bottom: 1px solid lightgray ;
  top:372px
  
}

#section4 span{
  color:rgb(77, 77, 77);
   width: 240px;
   height:36px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 14px;
   position: absolute;
   top:6%;
   left:10%;
}

#section4 div {
  width: 240px;
  height: 40px;
  position: relative;
  top:45px;
}

#section4 div:hover{
  background: #F2F2F2;
  cursor: pointer;
}

#section4 img{
  width: 24px;
  height: 24px;
  position: absolute;
  left:9%;
  top:20%;
}

#section4 p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top:-10%;
  left:65px;
}

#section5 {
  width: 240px;
  height: 57px;
  position: absolute;
  border-bottom: 1px solid lightgray ;
  top:665px;
}

#section5:hover{
  background: #F2F2F2;
  cursor: pointer;
}

#section5 p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top:10%;
  left:65px;
}

#section5 span{
  color: rgb(77, 77, 77);
  width: 24px;
  height: 24px;
  position: absolute;
  left:9%;
  top:30%;
}

#section6 {
  width: 240px;
  height: 133px;
  position: absolute;
  border-bottom: 1px solid lightgray ;
  top:720px;
  z-index: 999;
}

#section6 span{
  color:rgb(77, 77, 77);
  width: 240px;
  height:36px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top:12%;
  left:10%;
}

#section6 div {
  width: 240px;
  height: 40px;
  position: relative;
  top:45px;
}

#section6 div:hover{
  background: #F2F2F2;
  cursor: pointer;
}

#section6 p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top:-10%;
  left:65px;
}

#premium img { 
  width: 30px;
  height: 30px;
  position: absolute;
  left:8%;
  top:15%;
}

#Live2 img {
  width: 24px;
  height: 24px;
  position: absolute;
  left:9%;
  top:20%;
}

#section7 {
  width: 240px;
  height: 176px;
  position: absolute;
  border-bottom: 1px solid lightgray ;
  background-color: white;
  top:853px;
  
}

#section7 div {
  width: 240px;
  height: 40px;
  position: relative;
  top:8px;
}

#section7 div:hover{
  background: #F2F2F2;
  cursor: pointer;
}

#section7 p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  top:0%;
  left:65px;
}

#section7 span{
  color:rgb(77, 77, 77);
  width: 24px;
  height: 24px;
  position: absolute;
  left:9%;
  top:30%;
}

#section8 {
  width: 240px;
  height: 151px;
  position: absolute;
  /* border-bottom: 1px solid lightgray ; */
  background-color: white;
  top:1030px;
}


.s1 {
  width:240px;
  height: 20px;
  font-size: 13px;
  color:rgb(77, 77, 77);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top:10%;
  left:10%;
  font-weight: bold;
  cursor: pointer;
}

.s2 {
  width:240px;
  height: 20px;
  font-size: 13px;
  color:rgb(77, 77, 77);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top:22%;
  left:10%;
  font-weight: bold;
  cursor: pointer;
}

.s3 {
  width:240px;
  height: 20px;
  font-size: 13px;
  color:rgb(77, 77, 77);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top:40%;
  left:10%;
  font-weight: bold;
  cursor: pointer;
}

.s4 {
  width:240px;
  height: 20px;
  font-size: 13px;
  color:rgb(77, 77, 77);
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top:52%;
  left:10%;
  font-weight: bold;
  cursor: pointer;
}

#showmenu:checked + .sidebar{
    transform: translateX(0);
    
}

#showmenu{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left:2%;
  top:5%;
  z-index: 9999;
}
